{% extends "base.html" %}


{% block title %}
UnClique List
{% endblock %}


table.spacing td, table.spacing th {
    padding-right: 2em;
}


{% block content%}



    <table>
        {% for member in memberlist %}
            <br>
            <tr>
                <td> <b>{{ member.0.first_name }} {{ member.0.last_name}} </b>, {{member.0.major}} -- ({{member.0.classification}})   <br>
                     <b> {{ member.1.first_name }} {{ member.1.last_name}} </b>, {{member.1.major}} -- ({{member.1.classification}})   <br><br>
                </td>
            </tr>
        {% endfor %}
    </table>


    <table class="spacing">
            <form role="form"
                  method="post">
                {% csrf_token %}
                <button type="submit" class="btc btn-success"> Shuffle Again </button>
            </form>
        <b>{{ ' <======> ' }} </b>
            <form
                    action="{% url 'members:unclique_complete' %}"
                    method="post">
                <button type="submit" class="btn-primary"> Looks Good to Me! </button>
                {% csrf_token %}
            </form>
        </tr>
    </table>


{% endblock %}