{% extends "base.html" %}

{% block title %}
Welcome
{% endblock %}

{% block content%}
    <div class="jumbotron">
        <div class="container">
            <h1> What's Poppin</h1>
            <br>
            <p>
                UnClique is a program started by the 2017 AASUper Lit Executive Board that will foster Coalition Building and attempt to alleviate the issues of 'Cliques' in the BSO.<br> <br>
                This is an opt-in program and by submitting your contact information, you agree to be randomly paired, on a weekly basis (pending) with another user who has opted into the UnClique Program. <br> <br>
                This will be done in an effort to meet new people outside of your immediate social sphere. You are encouraged to go get coffee, lunch in the student center, set up a study date, or whatever you two agree upon in an effort to meet. <br> <br>
                Engagements can last 15 min, 30 min, 1 hour, or however long you both deem comfortable.
            </p>
        </div>
    </div>

{% endblock %}